<h1>{{animal?.name}}</h1>
<div class="table">
    <div class="animal-image">
        <table>
            <tr>
                <td>
                    <img [attr.src]='images[0].animalImgs' alt=""/>
                </td>
            </tr>
        </table>
    </div>
    <table>
        <tbody>
            <tr>
                <td class="header">Neme:</td>
                <td class="td-content">{{sexToString(animal?.sex)}}</td>
            </tr>
            <tr>
                <td class="header">Fajta:</td>
                <td class="td-content">{{animal?.race}}</td>
            </tr>
            <tr>
                <td class="header">Születési dátum:</td>
                <td class="td-content">{{animal?.birthDate}}</td>
            </tr>
            <tr>
                <td class="header">Bekerülés ideje:</td>
                <td class="td-content">{{animal?.admissionDate}}</td>
            </tr>
            <tr>
                <td class="header">Súlya:</td>
                <td class="td-content">{{animal?.weight}}</td>
            </tr>
            <tr>
                <td class="header">Szélessége:</td>
                <td class="td-content">{{animal?.width}}</td>
            </tr>
            <tr>
                <td class="header">Magassága:</td>
                <td class="td-content">{{animal?.height}}</td>
            </tr>
            <tr>
                <td class="header">Hossza:</td>
                <td class="td-content">{{animal?.length}}</td>
            </tr>
            <tr>
                    <td class="header">Természete:</td>
                    <td class="td-content">{{classToString(animal?.classification)}}</td>
            </tr>
            <tr>
                <td class="header-desc">Leírás:</td>
                <td class="td-content-desc">{{animal?.description}}</td>
            </tr>
            
        </tbody>
    </table>
    <div class="gallery-container">
        <h4>{{animal?.name}} képei</h4>
        <table class="gallery">
                <tr>
                    <td *ngFor="let image of images">
                        <img [attr.src]='image.animalImgs' alt=""/>
                    </td>
                </tr>
        </table>
    </div>
    <button class="btn" (click)="applyForAnimal(animal.id)">Befogadom</button>
    <button class="btn" (click)="returnToMain()">Vissza</button>
</div>