.btn {
    margin-top: 8px;
    margin-right: 5px;
    border-width: 0.5px;
    border-color: grey;
}

.navbar-default {
    background-color: rgba(150, 255, 255, 0.474);
    margin: auto;
    margin-bottom: 12px;
}

.navbar-right {
    float: right;
}