.container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: 95%;
    margin: auto;
}

.stage {
    min-height:100vh;
    height: auto;
    background-color: rgba(200, 255, 255, 0.474);
}

